@import "tailwindcss";

/* LOGIN FOR STYLES */

.active-tab {
  /* @apply py-4 text-blue-600 border-b-2 border-blue-600 font-semibold; */
  padding: 1rem 0;
  color: #155dfc;
  border-bottom: 2px solid #155dfc;
  font-weight: 600;
  transition: 0.2s;
}

.hero-bg {
  transition: opacity 0.8s ease;
  opacity: 0;
}

.hero-bg.active {
  opacity: 1;
}
